{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="row justify-content-center align-items-center h-100">
        <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
            {{ form_start(registrationForm) }}

                <h1 class="h3 mb-3 font-weight-normal">Register a new account</h1>
                <div class="form-group">
                    {{ form_row(registrationForm.phoneNumber) }}
                </div>
                <div class="form-group">
                    {{ form_row(registrationForm.plainPassword) }}
                </div>

                <button class="btn btn-info btn-lg btn-block" type="submit">
                    Register
                </button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
